/**
 * @copyright
 * @author
 * @version 1.0 (Octubre 2019)
 * @since 1.0
 */

 .login__menu{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;

   width: 90%;
   height: 10vh;
   padding: 0 5%;

   background-color: rgba(155, 89, 182,0);
   z-index: 20;
 }

 .login__menu img{
   width: 4vw;
 }

 .login__direccion{
   margin-left: 0.5vw;
 }

 .login__direccion span{
   font-size: 1.5vw;
 }

 .login__usuario{
   display: flex;
   align-items: center;
   justify-content: center;

   width: auto;
   height: 100%;

   background-color: rgba(155, 89, 182,0);
   cursor: pointer;
 }

 .login__contenido{
   display: flex;
   align-items: center;
   justify-content: flex-start;

   width: 80%;
   height: 70vh;
   padding: 15vh 10vw;
   margin: 0;

   background-color: rgba(155, 89, 182,0);
 }


  .login__contenido-2{
    height: auto;
  }


 .login__inicio{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 60%;
   height: 100%;
   padding: 0;
   margin: 0;

   background-color: rgba(229, 248, 255,1);
 }

 .login__registro{
   display: flex;
   align-items: center;
   justify-content: center;

   width: 30%;
   height: 100%;
   padding: 0;
   margin: 0;

   background-color: rgba(0, 105, 225,1);
 }

 .login__registro{
   width: 30vw;
   height: 440vh;
 }

 .login__hold{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 10%;
   height: 100%;
   padding: 0;
   margin: 0;

   background-color: rgba(11, 44, 190,1);
 }

 .login__hold{
   width: 10vw;
   height: 440vh;
 }

 .login__inicio-2{
   width: 10%;
 }

 .login__registro-2{
   width: 30%;
 }

 .login__hold-2{
   width: 60%;
   color: white;
 }

 .login__hold-2 input{
   color: white;
   border-bottom: 2px solid white;
 }

 .login__hold-2 a{
   color: white!important;
 }











 .login__cuadricula{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: centro;
   position: fixed;

   width: 80%;
   height: 100vh;
   padding: 15vh 10%;
   margin: 0;

   background-color: rgba(155, 89, 182,0.1);
 }

 .login__entradas{
   display: flex;
   align-items: center;
   justify-content: space-around;

   width: 100%;
   height: auto;
   padding: 0;
   margin: 0;

   background-color: rgba( 231, 76, 60 ,0);
 }

 .login__entrada{
   width: 20vw;
   height: 20vh;

   background-image: url("../img/backgorund.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   cursor: pointer;
   transition: all 0.3s ease;

   background-color: rgba(40, 116, 166, 0.5);
 }

 .login__entrada:hover{
   transform: scale(1.2);
 }

 .login__entrada-1{background-image: url("../img/empleo.jpg");}
 .login__entrada-2{background-image: url("../img/transporte.jpg");}
 .login__entrada-3{background-image: url("../img/trabajo.jpg");}
 .login__entrada-4{background-image: url("../img/denuncia.jpg");}
 .login__entrada-5{background-image: url("../img/finanzas.jpg");}
 .login__entrada-6{background-image: url("../img/publico.jpg");}

 .login__entrada-arriba{
   margin-bottom: 15vh;
 }

 .box_entrada{
   display: flex;
   align-items: center;
   justify-content: center;

   width: 20vw;
   height: 20vh;

   background-color: rgba(0, 0, 0, 0.5);
 }

 .titulo_img{
   color: white;
   margin: 0;
 }

 .login__cerrar{
   position: fixed;
   width: 2vw;
   top: 45vh;
   left: 2vw;
   z-index: 15;

   transition: line;
   transition: all 0.3s ease;
 }

 .login__cerrar:hover{
   transform: scale(1.2);
 }

 .lineas{
   background-color: white!important;
   width: 65vw!important;
   height: 1vh!important;

   margin-left: 31vw;
   z-index: 19;
 }

 .login__inicio iframe{
   margin-top: 5vh;
 }

 .titulo_video{
   font-family:  'Garamond', sans-serif;
   font-size: 2vw;
   color: white;
   margin: 0;
   margin-left: 73vw;
   margin-top: -5vh;
   margin-bottom: 10vh;
   z-index: 19;
   width: 25vw;

   background-color: rgba(0,0,0,0);
 }































 /**/
