/**
 * @copyright
 * @author
 * @version 1.0 (Octubre 2019)
 * @since 1.0
 */

 /* Importación de otros estilos */
 @import "reset.css";
 @import "menu.css";
 @import "footer.css";
 @import "inicio.css";

 /* Tipografías */
 @import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap');


 /*Página*/
html,body{
    background-color: rgb(59, 156, 156);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Verdana,Geneva,sans-serif;
}

.titulo{
    font-family: 'Arimo', sans-serif;
    font-size: 4vw;
}

.subtitulo{
    font-family:  Verdana,Geneva,sans-serif;
    font-size: 2vw;
}



 /*Modal*/
