/**
 * @copyright
 * @author
 * @version 1.0 (Octubre 2019)
 * @since 1.0
 */

 /* Importación de otros estilos */
 @import "reset.css";
 @import "menu.css";
 @import "footer.css";
 @import "inicio.css";
 @import "registro.css";
 @import "hamburger.css";

 /* Tipografías */
 @import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap');

 @font-face{
   font-family: "Garamond";
   src: url("fonts/GaramondPremrPro.otf");
   font-weight: lighter;
 }

 @font-face{
   font-family: "Garamond_bold";
   src: url("fonts/GaramondPremrPro-Smbd.otf");
   font-weight: normal;
 }

 @font-face{
   font-family: "Garamond_italica";
   src: url("fonts/GaramondPremrPro-It.otf");
   font-weight: normal;
 }



 /*Página*/
html,body{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Verdana,Geneva,sans-serif;
}

.titulo{
    font-family: 'Garamond', sans-serif;
    font-size: 6vw;
    margin-bottom: 1vh;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.subtitulo{
    font-family: "Garamond_bold";
    font-size: 1.5vw;
    letter-spacing: .2vw;
    text-decoration: underline;
    text-decoration-color: rgb(136, 134, 133, .9);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.texto{
  font-family: 'Garamond', sans-serif;
  font-size: 2vw;
  margin: 1vh 0 1vh 0;
}



 /*Modal*/
