/**
 * @copyright 
 * @author
 * @version 1.0 
 * @since 1.0
 */
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 80%;
    background-color: transparent;
    padding-top: 10vh;
    z-index: 14;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60vw;
    height: 60vh;

    z-index: 1;

    color: white;
}

.contenedor_btn{
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 20vh;
    z-index: 1;
}

.inicio__btnsig{
  width: 3vw;
  height: 6vh;
  margin: 2vh 0;
  cursor: pointer;
}

#myVideo {
    position: absolute;
    width: 100vw;
    top: 29.5vh;
    transform: translateY(-50%);
    z-index: 0;
  }